.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }

  .padding40px{
    padding-left: 20px;
  }

  .padding40pxbottom{
    padding-bottom: 20px;
  }

  .marginleft20px{
    margin-left:20px;
  }

  .marginleft1per{
    margin-left: 1%;
  }

  .marginbottom1per{
    margin-bottom: 1%;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  .inline_block_child{
    display: inline-block;
  }

  .topRightDiv{
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .floatingDiv{
    top:0;
    right:0;
    position: fixed;
  }

  .whitespace100per{
    margin-top: 50vh;
    background: yellow;
  }

  .alignLeft{
    text-align: left;
  }


  .footerText{
    color: white;
    text-align: center;
  }

  .footerImageMargin{
    margin: auto
  }
  
  .center{
    margin: auto;
    width: 25%;
    border: 3px solid green;
    text-align: center;
  }
  
  .centerDiv{
    width: 50vh;
    margin: 0 auto;
  }

  .containerMargin{
    margin: 3rem auto 6rem;
  }

  